@import "reset.css";
@import "uclasses.css";
@import "cproperties.css";
@import "components.css";


body {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home {
    background-image: url("../assets/home/background-home-mobile.jpg");
}

.destination {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
}

.crew {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
}

.technology {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
}

@media (min-width: 35em) {
    .home {
        background-position: center center;
        background-image: url("../assets/home/background-home-tablet.jpg");
    } 

    .destination {
        background-image: url("../assets/destination/background-destination-tablet.jpg");
    }

    .crew {
        background-image: url("../assets/crew/background-crew-tablet.jpg");
    }

    .technology {
        background-image: url("../assets/technology/background-technology-tablet.jpg");
    }
}

@media (min-width: 45em) {
    .home {
        background-image: url("../assets/home/background-home-desktop.jpg");
    }

    .destination {
        background-image: url("../assets/destination/background-destination-desktop.jpg");
    }

    .crew {
        background-image: url("../assets/crew/background-crew-desktop.jpg");
    }

    .technology {
        background-image: url("../assets/technology/background-technology-desktop.jpg");
    }
}

