@import "reset.css";
@import "uclasses.css";
@import "cproperties.css";
@import "components.css";


body {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home {
    background-image: url("../assets/home/background-home-mobile.jpg");
}

@media (min-width: 35em) {
    .home {
        background-position: center center;
        background-image: url("../assets/home/background-home-tablet.jpg");
    } 
}

@media (min-width: 45em) {
    .home {
        background-image: url("../assets/home/background-home-desktop.jpg");
    }
}

.primary-header {
    /* justify-content: space-between; */
}

.primary-header div {
    padding: 3rem 0 0 3rem;
}